<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Générateur de signature AdA Risques</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
        <script src="signature.js"></script>
    </head>
    <body>
        <div id="container" class="row align-items-center">
            <form class="form-signature" class="col-xl-5">
                <div class="text-center mb-5">
                    <img class="mb-4" src="https://ada-risques.fr/images/headerNew.png" alt="">
                    <h1 class="h3 font-weight-normal">Générateur de signature</h1>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tu es :</label>
                    <div class="col-sm-8">
                        <label for="inputNom" class="sr-only">Prénom Nom</label>
                        <input type="text" id="inputNom" v-model="nom" class="form-control" placeholder="Prénom Nom" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">de la promotion :</label>
                    <div class="col-sm-8">
                        <label for="inputAnnee" class="sr-only">Année et filière</label>
                        <div class="input-group">
                            <select id="inputAnnee" v-model="annee" class="form-control" placeholder="Année" required>
                                <option v-for="an in annees" v-bind:value="an">{{an}}</option>
                            </select>
                            <select d="inputFiliere" v-model="filiere" class="form-control" required>
                                <option>MRI</option>
                                <option>STI</option>
                                <option>ERE</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Ta fonction :</label>
                    <div class="col-sm-8">
                        <label for="inputFonction" class="sr-only">Fonction</label>
                        <input type="text" id="inputFonction" v-model="fonction" class="form-control" placeholder="Président..." required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Pour te contacter :</label>
                    <div class="col-sm-8">
                        <label for="inputEmail" class="sr-only">Email AdA</label>
                        <div class="input-group">
                            <input type="text" id="inputEmail" v-model="email" class="form-control" placeholder="president" required>
                            <div class="input-group-append"><span class="input-group-text">@ada-risques.fr</span></div>
                        </div>
                    </div>
                    <div class="col-sm-8 offset-sm-4">
                        <label for="inputTelephone" class="sr-only">Téléphone</label>
                        <input type="phone" id="inputTelephone" v-model="telephone" class="form-control" placeholder="+33 6 12 34 56 78">
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block mt-3" v-on:click="copy">Copier la signature</button>
            </form>
            <div id="signature" class="col-xl-7">
                <pre id="content">
&lt;div style="font-family:monospace;color:#000080"&gt;
    &lt;p style="font-style:italic;font-weight:bold;color:#99cc00"&gt;
        **** Pour mettre à jour ta cotisation :
        &lt;a href="https://ada-risques.fr/article3"&gt;https://ada-risques.fr/article3&lt;/a&gt;&lt;br/&gt;
        **** Pour te connecter à ton compte :
        &lt;a href="https://enet.ada-risques.fr/"&gt;https://enet.ada-risques.fr/&lt;/a&gt;
    &lt;/p&gt;
    &lt;p&gt;&lt;b&gt;{{nom}}&lt;/b&gt; (Promo {{annee}} {{filiere}})&lt;/p&gt;
    &lt;p style="font-style:italic"&gt;
        &lt;b&gt;{{fonction}} de l'Association des alumni en maîtrise des risques&lt;/b&gt;&lt;br/&gt;
        &lt;b&gt;(ex-&lt;i&gt;Association des anciens de l'ENSI de Bourges&lt;/i&gt;)&lt;/b&gt;&lt;br/&gt;
        88, boulevard Lahitolle &ndash; 18020 Bourges Cedex&lt;br/&gt;<span v-if="telephone">
        &lt;b&gt;Tél.&lt;/b&gt;&nbsp;: {{telephone}}&lt;br/&gt;</span>
        &lt;b&gt;Mél.&lt;/b&gt;&nbsp;:
            &lt;a href="mailto:{{email}}@ada-risques.fr"&gt;{{email}}@ada-risques.fr&lt;/a&gt;&lt;br/&gt;
        &lt;b&gt;Web&lt;/b&gt;&nbsp;:
            &lt;a href="https://ada-risques.fr"&gt;https://ada-risques.fr&lt;/a&gt;
    &lt;/p&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </body>
</html>
